.addressing{
    height: 550px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 60px;
    @media(min-width:320px) and (max-width:576.9px){
        margin-bottom: 15px;
    }
     @media(min-width:577px) and (max-width:768.8px){
        margin-bottom: 15px;
    }
      @media(min-width:769px) and (max-width:992.8px){
        margin-bottom: 15px;
    }
      @media(min-width:993px) and (max-width:1200.9px){
        margin-bottom: 15px;
    }
    .heading{
        width: 100%;
        h1{
            font-size: 40px;
            color: #2E3192;
            font-weight: bold;
            text-align: center;
            @media(min-width:320px) and (max-width:576.9px){
                font-size: 18px;
            }
             @media(min-width:577px) and (max-width:768.8px){
                font-size: 18px;
            }
              @media(min-width:769px) and (max-width:992.8px){
                font-size: 18px;
            }
              @media(min-width:993px) and (max-width:1200.9px){
                font-size: 18px;
            }
            span{
                color: #43EEE4;
            }
        }
    }
    .location{
        width: 50%;
        display: flex;
        justify-content: center;
        @media(min-width:320px) and (max-width:576.9px){
            width: 100%;
            order: 1;
        }
         @media(min-width:577px) and (max-width:768.8px){
            width: 100%;
            order: 1;
        }
          @media(min-width:769px) and (max-width:992.8px){
             width: 100%; 
             order: 1;
        }
          @media(min-width:993px) and (max-width:1200.9px){
            width: 100%;
            order: 1;
        }
       iframe{
           border-radius: 6px;
           @media(min-width:320px) and (max-width:576.9px){
                height: 190px;
                width: 90%;
            }
         @media(min-width:577px) and (max-width:768.8px){
                height: 220px;
                width: 90%;
            }
          @media(min-width:769px) and (max-width:992.8px){
                height: 250px; 
                width: 90%;
            }
          @media(min-width:993px) and (max-width:1200.9px){
                height: 350px;
                width: 90%;
            }
       }
    }
    .adrs-dtl{
        line-height: 2.5;
        padding-bottom: 100px;
        @media(min-width:320px) and (max-width:576.9px){
            line-height: 1.8;
            padding-bottom: 0;
        }
         @media(min-width:577px) and (max-width:768.8px){
           line-height: 1.8;
           padding-bottom: 0;
        }
          @media(min-width:769px) and (max-width:992.8px){
           line-height: 1.8;  
           padding-bottom: 0; 
        }
          @media(min-width:993px) and (max-width:1200.9px){
            line-height: 1.8;
            padding-bottom: 0;
        }
         
        .adrs{
            li{
                list-style: none;
               
            }
            .bold-text{
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 20px;
                @media(min-width:320px) and (max-width:576.9px){
                    font-size: 18px;
                    margin-bottom: 5px;
                }
                 @media(min-width:577px) and (max-width:768.8px){
                    font-size: 18px;
                    margin-bottom: 5px;
                }
                  @media(min-width:769px) and (max-width:992.8px){
                    font-size: 18px;
                    margin-bottom: 5px;
                }
                  @media(min-width:993px) and (max-width:1200.9px){
                    font-size: 18px;
                    margin-bottom: 5px;
                }
            }
        }
    }
}