.custom-carousel{
    background:#2E3192;
    
    .carousel{
        .carousel-control-prev{
            bottom: 250px;
            width: 10%;
            @media(min-width:320px) and (max-width:576px){
                bottom: 155px;
            }
            @media(min-width:577px) and (max-width:768px){
               
            }
            @media(min-width:769px) and (max-width:992px){
                
            }
            @media(min-width:993px) and (max-width:1200px){
                
            }
            @media(min-width:1201px) and (max-width:1400px){
                
            }
        }
        span{
            filter: none;
        }
        .carousel-control-next{
            bottom: 250px;
            width: 10%;
            @media(min-width:320px) and (max-width:576px){
                bottom: 155px;
            }
            @media(min-width:577px) and (max-width:768px){
               
            }
            @media(min-width:769px) and (max-width:992px){
                
            }
            @media(min-width:993px) and (max-width:1200px){
                
            }
            @media(min-width:1201px) and (max-width:1400px){
                
            }
        }
        .carousel-indicators{
            button{
                background-color: white;
            }
        }
        .carousel-inner{
            height: 382px;
            @media(min-width:320px) and (max-width:576px){
                height: 330px;
            }
            @media(min-width:577px) and (max-width:768px){
               
            }
            @media(min-width:769px) and (max-width:992px){
                
            }
            @media(min-width:993px) and (max-width:1200px){
                
            }
            @media(min-width:1201px) and (max-width:1400px){
                
            }
            .carousel-item{
                top: 10px;
                img{
                    width: 45%;
                    margin-left: 110px;
                    @media(min-width:320px) and (max-width:576px){
                        width: 80%;
                        margin: 0 auto;
                    }
                    @media(min-width:577px) and (max-width:768px){
                       
                    }
                    @media(min-width:769px) and (max-width:992px){
                        
                    }
                    @media(min-width:993px) and (max-width:1200px){
                        
                    }
                    @media(min-width:1201px) and (max-width:1400px){
                        
                    }
                }
                .carousel-btn{
                    display: flex;
                    margin-left: 310px;
                    margin-top: 25px;
                    @media(min-width:320px) and (max-width:420px){
                        margin-top: 145px;
                        margin-left: 30px;
                      
                        
                    }
                    @media(min-width:421px) and (max-width:576px){
                        padding-top: 120px;
                       
                        
                    }
                    @media(min-width:577px) and (max-width:768px){
                       
                    }
                    @media(min-width:769px) and (max-width:992px){
                        
                    }
                    @media(min-width:993px) and (max-width:1200px){
                        
                    }
                    @media(min-width:1201px) and (max-width:1400px){
                        
                    }
                    .btn{
                        color: white;
                        background: gainsboro;
                        padding: 10px 15px;
                        margin-right: 15px;
                        border-radius: 20px;
                        font-size: 14px;
                        transition:ease-in-out;
                        transition-delay: 0.2s;
                        transition-duration:0.2s;
                        @media(min-width:320px) and (max-width:576px){
                            padding: 8px 10px;
                           
                        }
                        @media(min-width:577px) and (max-width:768px){
                           
                        }
                        @media(min-width:769px) and (max-width:992px){
                            
                        }
                        @media(min-width:993px) and (max-width:1200px){
                            
                        }
                        @media(min-width:1201px) and (max-width:1400px){
                            
                        }
                        &:hover{
                           background: #43EEE4;
                           cursor: pointer;                      
                       }
                    }
                }
            }
            .carousel-caption{
                height:100%;
                left: 735px;
                width: 500px;
                @media(min-width:320px) and (max-width:420px){
                    top: 88px;
                    left: 35px;
                    width: 250px;
                    height: 50%;
                    margin: 0 auto;
                }
                @media(min-width:421px) and (max-width:576px){
                    top: 115px;
                    left: 35px;
                    width: 250px;
                    height: 50%;
                    margin: 0 auto;
                }
                @media(min-width:577px) and (max-width:768px){
                   
                }
                @media(min-width:769px) and (max-width:992px){
                    
                }
                @media(min-width:993px) and (max-width:1200px){
                    
                }
                @media(min-width:1201px) and (max-width:1400px){
                    
                }
                h5{
                    font-size: 44px;
                    line-height: 60px;
                    color: white;
                    font-weight: bolder;
                    @media(min-width:320px) and (max-width:420px){
                        font-size: 18px;
                        line-height: 30px;
                        letter-spacing: 1px;
                    }
                    @media(min-width:241px) and (max-width:576px){
                        font-size: 20px;
                        line-height: 30px;
                        letter-spacing: 1px;
                    }
                    @media(min-width:577px) and (max-width:768px){
                       
                    }
                    @media(min-width:769px) and (max-width:992px){
                        
                    }
                    @media(min-width:993px) and (max-width:1200px){
                        
                    }
                    @media(min-width:1201px) and (max-width:1400px){
                        
                    }
                }
            }
        }
    }    
}
