.cust-carousel{
    
    .carousel{
        height: 382px;
        background:#2E3192 !important;
        .carousel-indicators{
            bottom: 10px;
            filter: white;
            .active{
                background-color: white;
            }
        }
        .carousel-control-prev{
            width: 7%;
            bottom: 235px;
            .carousel-control-prev-icon{
                filter: none;
            }
        }
        .carousel-control-next{
            width: 7%;
            color: white;
            bottom: 235px;
            .carousel-control-next-icon{
                filter: none;
            }
        }
        .carousel-inner{
            height: 100%;
            .carousel-item{
                width: 80%;
                margin-right: 0;
                left: 126px;
                height:250px;
                img{
                   width: 57%;
                   margin-top: 20px;
                }
                .carousel-btn{
                    padding-left: 210px;
                    margin-top: 20px;
                    .btn{
                        background: white;
                        border-radius: 20px;
                        color: #2E3192;
                        margin-left: 10px;
                    }
                }
               .carousel-caption{
                    padding: 0;
                    right: 0;
                    left: 600px;
                    top: 38px;
                    
                    h5{ 
                        color: white;
                        font-size: 38px;
                        width: 500px;
                    }
                
                }
            }
        }
    }
}






