footer{
    background: $purple !important;
    height: 442px;
    color: $white;
    @media(min-width:320px) and (max-width:576.9px){
       height: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    @media(min-width:577px) and (max-width:768.8px){
        height: 100%;
        padding-left: 10px;
     }
     @media(min-width:769px) and (max-width:992.8px){
        height: 100%;
        padding-left: 10px;
     }
     @media(min-width:993px) and (max-width:1200.9px){
        height: 100%;
        padding-left: 10px;
     }
     @media(min-width:1201px) and (max-width:1400px){
        height: 100%;
        padding-left: 10px;
     }
    .ftr-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 1130px;
        margin: 0 auto;
        padding-top: 80px;
        @media(min-width:320px) and (max-width:576px){
            width: 100%;
           
        }
        @media(min-width:577px) and (max-width:768px){
            width: 100%;
            
            
        }
        @media(min-width:769px) and (max-width:992px){
            width: 100%;
           
        }
        @media(min-width:992px) and (max-width:1200px){
            width: 100%;
        
        }
      
        
        ul{
            list-style: none;
            padding-right: 10px;
            width: 260px;
            @media(min-width:320px) and (max-width:576px){
                padding: 0;
                margin-bottom: 50px;
                width: 230px;
            }
            @media(min-width:577px) and (max-width:768px){
                padding: 0;
                margin-bottom: 50px;
                width: 230px;
            }
            @media(min-width:769) and (max-width:992px){
                padding: 0;
                width: 25%;
                margin-bottom: 50px;
            }
            @media(min-width:993px) and (max-width:1200px){
                padding: 0;
                width: 230px;
                margin-bottom: 50px;
            }
            .bold-text{
                font-weight: bolder;
                font-size: 18px;
                margin-bottom: 15px;
                @media(min-width:320px) and (max-width:576px){
                   font-size: 18px;
                   margin-bottom: 20px;
                }
                @media(min-width:577px) and (max-width:768px){
                    font-size: 18px;
                    margin-bottom: 20px;
                 }
                 @media(min-width:768px) and (max-width:992px){
                    font-size: 18px;
                    margin-bottom: 20px;
                 }
                 @media(min-width:993px) and (max-width:1200px){
                    font-size: 18px;
                    margin-bottom: 20px;
                 }
            }
            .lt-text{
                font-weight: lighter;
                font-size: 15px;
                width: 245px;
                color:$white;
                text-decoration: none;
                @media(min-width:320px) and (max-width:576px){
                   margin-top: 2px;
                   font-size: 14px;
                }
                @media(min-width:577px) and (max-width:768px){
                    margin-top: 2px;
                 }
                 @media(min-width:769px) and (max-width:992px){
                    margin-top: 2px;
                 }
                 @media(min-width:993px) and (max-width:1200px){
                    margin-top: 2px;
                 }
            }
            .data{
                padding-right: 30px;
            }
            .icon{
                margin-right: 10px;
            }
            span{
                margin-left: 28px;
                display: block;
            }
            .ftr-hovr{
                &:hover{
                    color: $blue;
                }
            }
        }
    }
    .ft-btm{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 80px;
        align-items: center;
        text-align: center;
    }
}