.floating-wpp{
    left: auto;
    right: 15px;
    @media(min-width:320px) and (max-width:1920px){
        right: 50px;
        bottom: 17px;
    }
    @media(min-width:1200px) and (max-width:1920px){
        right: 50px;
        bottom: 17px;
    }
    .floating-wpp-button{
        background-color: #25D366 !important;
    }
    .floating-wpp-popup{
        .floating-wpp-head{
            background-color: #25D366 !important;
        }
    }
    .active{
        right: 0;   
    }
}
